.create-course-form {
  width: 400px;
}

.create-course-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background: #fff;
}

.flex-contrainer-repository-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-img {
  width: auto;
  height: 250px;
  overflow: hidden;
  justify-items: center;
  cursor: pointer;
}

.button-image {
  width: 250px;
  height: 250px;
  cursor: pointer;
  justify-items: center;
}
