.course-page-content {
  display: flex;
  padding-top: 60px;
  /* padding-left: 150px;
  padding-right: 130px; */
  flex-direction: column;
  margin: auto;
  /* background-color: white; */
  width: 1100px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 25px;
  column-gap: 25px;
  /* background-color: white; */
}

.mb-20 {
  margin-bottom: 40px;
}
